@charset "UTF-8";
.container{
	width:600px;
	margin:20px auto 50px;

}
h1{
	color:white;
	border-left:8px solid #e33234;
	box-sizing:border-box;
	padding:9px 8px;
	font-size:18px;
	background:#f4a895;
	margin-bottom:20px;
}
table{
	width:100%;
	margin-bottom:30px;
	border:1px solid #000;       /*テーブルの外側に黒い線がつく*/
}
th,td{
	background:#ddd;
}
th{
	background:#f4a895;
	color:white;
	width:225px;
	font-size:16px;
	padding:10px 8px;
	border-bottom:#ffffff;
	vertical-align:top;
}
td{
	padding:10px 12px 10px 8px;
	border-bottom:#ffffff;
}
input,textarea{
	width:100%;
	padding:3px 5px;
	box-sizing:border-box;
	display:inline-block;
}
textarea{
	height:150px;
	resize:vertical;
}
button,
.btBox a
{
	display:block;
	margin:0 auto;
	width:170px;
	height:50px;
	text-align:center;
	color:#f4a895;
	border:2px solid #f4a895;
	border-radius:5px;
	background:white;
	line-height:46px;
	transition:0.6s;
}
button:hover,
.btBox a:hover{
	cursor:pointer;
	color:white;
	background:#f4a895;
}
.btBox{
	display:flex;
	justify-content:center;
}
.btBox a{
	margin:0 10px;
	text-decoration:none;
	line-height:52px;
}
